body{
    font-family: 'Work Sans', sans-serif;
}

.p-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/****header css****/

header{
    background-color: #FFF4E7;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1 rem ;
}
nav li a{
    text-decoration: none;
    color: #131313;
}

/*****banner css******/


.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFF4E7;
    border: none;
    border-radius: 8px;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}


/****main css*****/

main{
    max-width: 1440px;
    margin: 70px auto;
}

/****teams css****/
.teams-container{
    display: flex;
    align-items: center;

}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 45px;
}
.teams-title .quick-list{
    color: #727272;
}
.teams-title .text-features{
    color: #FF900E;
}




/*****Responsive media queries****/

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav ,
    .teams-container{
        flex-direction: column;
    }

    .teams-img{
       grid-template-columns: 1fr ; 
    }
    .teams-content{
    padding-left: 20px;
    padding-right: 20px;
}
    
}

/****tablet or medium devices****/

@media screen  and (min-width: 576px) and (max-width:960px){
    nav , .teams-container{
        flex-direction: column;
    }
     header{
        padding: 40px;
    }
}
